[submodule "zsh"]
	path = zsh
	url = git@github.com:idk/zsh.git
[submodule ".config/conky"]
	path = .config/conky
	url = git@github.com:idk/conky-X.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:idk/awesomewm-X.git
[submodule ".config/luakit"]
	path = .config/luakit
	url = git@github.com:idk/luakit-X.git
[submodule "bin"]
	path = bin
	url = git://github.com/idk/bin.git
