<UserScriptConfig>
	<Script basedir="youtube_fixes" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Scroll to video, resize to fill and remove feedback button." enabled="true" filename="pdq.user.js" installTime="1355731064660" modified="1355731064000" name="youtube fixes" namespace="http://127.0.0.1" runAt="document-end" uuid="7a45c0b3-7a3a-47b1-a889-85b795ea502c" version="0.1" installurl="https://dl.dropbox.com/u/9702684/pdq.user.js" updateurl="https://dl.dropbox.com/u/9702684/pdq.user.js">
		<Grant>none</Grant>
		<Include>http*://*.youtube.com/*</Include>
		<Include>http*://youtube.com/*</Include>
	</Script>
	<Script basedir="Google_Image_direct_links" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Rewrites Google Image Search links to point straight to the pictures, and adds links to the corresponding websites without google frames." enabled="true" filename="5288.user.js" installTime="1355731288198" modified="1355731288000" name="Google Image direct links" namespace="http://juhani.naskali.net/files/gm/" runAt="document-end" uuid="0030898d-843f-4a3e-9284-9bed3e4bdc0b" version="0.2" installurl="http://userscripts.org/scripts/source/5288.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/5288.meta.js">
		<Grant>none</Grant>
		<Include>http://images.google.*/*</Include>
	</Script>
	<Script basedir="Google_Privacy_Plus" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Gives the user back privacy and clean URLS on all google websites." enabled="true" filename="60382.user.js" installTime="1355731384193" modified="1355731384000" name="Google Privacy Plus" namespace="#aVg" runAt="document-end" uuid="393dbcc6-ae12-40eb-9495-5650afa6f81c" version="0.1.3" installurl="http://userscripts.org/scripts/source/60382.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/60382.meta.js">
		<Grant>none</Grant>
		<Include>http://*.google.tld/*</Include>
	</Script>
</UserScriptConfig>